body,
html {
	margin:0;
	padding:0;
	background:#FFFFFF;
	color:#000000;
}

body {
        font-size: small;
	font-family: "Verdana", "Arial", Sans;
	border-top: 6px solid #FF6600;
	border-bottom: 6px solid #FF6600;
	min-width: 750px;
}

#wrap {
	background:#FFFFFF;
	margin:0 auto;
	width:750px;
}

#main {
	width:550px;
	float:left;
}

#sidebar {
	font-size: medium;
	width:200px;
	float:right;
	color:#555555;
	background: #FFCC99;
}

#sidebar ul {
	margin-left: 10px;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-left: 10px;
	padding: 0;
}

#sidebar form {
	margin-left: 10px;
	padding: 0;
}

#header {
	text-decoration:none;
	text-align:left;
	border-bottom: 2px solid #000000;
}

#header h2 {
	font-size: X-Large;
	letter-spacing: 10pt;
	background: #FFFFFF;
	text-decoration: none;
}

#header a {
	color:#000000;
	text-decoration:none;
}

#header a:hover {
	color:#000000;
	text-decoration:none;
}


#footer {
	height:20px;
	margin: 10px auto 0;
	position:relative;
	text-decoration:none;
	text-align:right;
	clear:both;
}

a {
	color:#000000;
	background:inherit;
	text-decoration:none;
}

a:hover {
	color:#000000;
	text-decoration:underline;
}


h2 { 
	font-size: medium; 
	background:#F0F0F0;
}

hr {
	height: 1px;
	color: #c0c0c0;
}

.subject {
	font-size: large;
	word-wrap: break-word;	
	font-weight: bold;
	background:#FFFFFF;
	padding:  0px;
	letter-spacing: -1px;
	word-spacing: 1px;
}

.commenter {
	word-wrap: break-word;	
	font-size: medium;
	font-weight: bold;
}

.comment {
	font-size: small;
	word-wrap: break-word;
	padding: 10px 25px;
}

.entry {
	font-size: small;
	word-wrap: break-word;
	padding: 0;
}

.timedate {
	font-size: small;
	background:#FFFFFF;
	text-align: left;
	color: #848484;
	margin-top:-20px;
}

.menu {
	background:#BFBFBF;
	color:#111111;
	text-align:justify;
	padding: 5px;
}

.box { 
	border: 1px 
	solid #cecece; 
	padding: 4px 15px; 
	margin: 1px;
	text-align:right;
}

.count {
	font-size: medium;
	font-family: "Verdana", Sans;
}

.error {
	font-size: medium;
	font-family: "Verdana", Sans;
	color: red;
}

.noseeum {
	display:none;
}

